svg {
  background: lightgrey;
}

rect {
  fill: grey;
  stroke: lightgrey;
  stroke-width: 1px;
}

/*
  Using the intermediary color for cells located between
  the cursor and the current time
*/
rect.past:hover,
rect.future:hover,
rect.future:hover ~ rect.future {
  fill: #fdaa83;
}

rect.past {
  fill: #fc3e1d;
}